*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#d1af99;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: #332218;
}
.button{
    margin:10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #F0AA7F;
    font-size: 15px;
    &:hover{
        font-size: 16.5px;
    }
}
.container{
    background-color:#F0AA7F;
}